body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 30px;
}

#heading {
    color: blue;

}

#title {
    color: green;
}

#message {
    color: red;
}

#demo {
    margin-top: 20px;
    font-size: 22px;
    color: purple;
}