body {
    font-family: Arial;
    padding: 40px;
}
#parent{
    width: 350px;
    padding: 30px;
    background: skyblue;
}
#child{
    margin-top: 20px;
    padding: 30px;
    background: orange;
}

button{
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
}