*{
    margin: 0;
    padding:0% 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}

body{
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10 rgba(0,0,0,.2);
}
h1{
    text-align: center;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

#result{
    margin-top: 20px;
    font-weight: bold;
}

button{
    display: block;
    width: 120px;
    margin: 15px auto;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #0056b3;
}